.privateChannels-1nO12o header {
  margin-top: -5px;
}
.channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) {
  display: inline-block;
  margin-left:8px;
  margin-right:2px;
  width: calc(25% - 10px);
}
.da-privateChannels .da-channel .wrapper-232cHJ {
    position:absolute;
    top:20px;
    transform:scale(0.7);
}
.privateChannels-1nO12o .channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) a {
  height: 50%;
  flex-direction: column;
  background:transparent !important;
}
.privateChannels-1nO12o .channel-2QD9_O:hover:not([style="height: 42px; opacity: 1;"]) a,
.channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) a:hover .da-name,
.privateChannels-1nO12o .channel-2QD9_O.da-selected:not([style="height: 42px; opacity: 1;"]) a,
.channel-2QD9_O.da-selected:not([style="height: 42px; opacity: 1;"]) a .da-name {
    color:var(--hover-color) !important;
}
.channel-2QD9_O:not([style="height: 42px; opacity: 1;"]) a .name-2WpE7M {
  font-size: 11.3px !important;
  margin-left:-10px !important;
}
.da-privateChannels .da-channel {
    padding-right:0px;
}
