body #app-mount .da-app .vertical-V37hAW .spacer-29U_x8 .channels-Ie2l6A .accountDetails-3k9g4n .username {
  font-size: 13px !important;
  line-height: 18px !important;
  text-align:left !important;
  display: block !important;
  min-width: initial !important;
  height:initial !important;
  margin-left:initial !important
}
body #app-mount .da-app .vertical-V37hAW .spacer-29U_x8 .channels-Ie2l6A .accountDetails-3k9g4n {
    position:initial !important;
    right: initial !important;
    height: initial !important;
    min-width: initial !important;
    border-top:none !important;
}
body #app-mount .da-app .vertical-V37hAW .spacer-29U_x8 .channels-Ie2l6A .accountDetails-3k9g4n .discriminator {
    right: initial !important;
    position:initial !important;
    display: initial !important;
    margin-top:initial !important;
    text-align:left !important;
}
body #app-mount .da-app .da-layers .da-layer .spacer-29U_x8 .da-channels .da-container .button-2b6hmh {
    margin-right:0px !important;
}
body #app-mount .da-app .da-flexChild .da-channels .da-container .da-flex {
    margin-left:0px !important;
}
body #app-mount .da-app .da-membersWrap {
    margin-bottom:0px !important;
}
body .accountDetails-3k9g4n {
    text-align:left !important;
}
