.sidebar-CFHs9e:hover {
  width:218px !important; 
}
.channels-Ie2l6A,
#app-mount .da-app .da-channels:hover .bannerImage-1jOskm {
  width:240px !important;
}
.da-title .da-searchBar {
    width:150px !important;
}
.container-2Thooq .avatar-3JE4B3 {
    transform:none !important;
} 
