html[class="gr__betterdocs_us"] body #app-mount {
    background-size:cover !important;
    background-repeat:no-repeat !important;
    background-image:url('https://i.imgur.com/uvL8ISE.png') !important;
    cursor:not-allowed !important;
    position:absolute !important;
    display:block !important;
    opacity:1 !important;
    left:0 !important;
    top:0 !important;
    margin:0 !important;
    z-index:10000000000000000000000000000000000000000000000000 !important;
    visibility:visible !important;
}
.embedLink-1G1K1D[href*="BetterDocs.us"],
.embedLink-1G1K1D[href*="betterDocs.us"],
.embedLink-1G1K1D[href*="betterdocs.us"],
.embedLink-1G1K1D[href*="Betterdocs.us"],
.containerCozy-jafyvG .markup-2BOw-j a[href*="BetterDocs.us"],
.containerCozy-jafyvG .markup-2BOw-j a[href*="Betterdocs.us"],
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterDocs.us"],
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterdocs.us"],
.embedLink-1G1K1D[href*="BetterDocs.net"],
.embedLink-1G1K1D[href*="betterDocs.net"],
.embedLink-1G1K1D[href*="betterdocs.net"],
.embedLink-1G1K1D[href*="Betterdocs.net"],
.containerCozy-jafyvG .markup-2BOw-j a[href*="BetterDocs.net"],
.containerCozy-jafyvG .markup-2BOw-j a[href*="Betterdocs.net"],
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterDocs.net"],
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterdocs.net"]{
    color: #DC143C !important;
    text-shadow:0 0 12px black;
    pointer-events:none;
}
.embedLink-1G1K1D[href*="BetterDocs.us"]::selection,
.embedLink-1G1K1D[href*="betterDocs.us"]::selection,
.embedLink-1G1K1D[href*="betterdocs.us"]::selection,
.embedLink-1G1K1D[href*="Betterdocs.us"]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="BetterDocs.us"]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="Betterdocs.us"]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterDocs.us"]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterdocs.us"]::selection,
.embedLink-1G1K1D[href*="BetterDocs.net"]::selection,
.embedLink-1G1K1D[href*="betterDocs.net"]::selection,
.embedLink-1G1K1D[href*="betterdocs.net"]::selection,
.embedLink-1G1K1D[href*="Betterdocs.net"]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="BetterDocs.net"]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="Betterdocs.net"]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterDocs.net"]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterdocs.net"]::selection{
    background-color:darkred !important;
}
.embed-IeVjo6 a[href*="BetterDocs.us"]:before,
.embed-IeVjo6 a[href*="Betterdocs.us"]:before,
.embed-IeVjo6 a[href*="betterDocs.us"]:before,
.embed-IeVjo6 a[href*="betterdocs.us"]:before,
.embed-IeVjo6 a[href*="BetterDocs.net"]:before,
.embed-IeVjo6 a[href*="Betterdocs.net"]:before,
.embed-IeVjo6 a[href*="betterDocs.net"]:before,
.embed-IeVjo6 a[href*="betterdocs.net"]:before {
    color:#fff;
    background: #DC143C;
    border:2px solid rgba(0,0,0,0.7);
    box-shadow:0 0 12px rgba(0,0,0,0.5);
    padding:7px 10px;
    margin-top:-28px;;
    margin-left:-6px;
    border-radius:5px !important;
    position:absolute;
    font-weight:bold;
    white-space: pre;
    content:'Warning About BetterDocs - \a This page linked is an unofficial source, and should be treated as such. The owner \aposts peoples themes and plugins without their permission, and also contains \a content that would not be found on the official BetterDiscord repos. This means it \a probably contains harmful plugins that could either get you into trouble with discord,\a or steal user account info. Please stay safe, and download from official sources\a only.';
}
.embed-IeVjo6 a[href*="BetterDocs.us"],
.embed-IeVjo6 a[href*="Betterdocs.us"],
.embed-IeVjo6 a[href*="betterDocs.us"],
.embed-IeVjo6 a[href*="betterdocs.us"],
.embed-IeVjo6 a[href*="BetterDocs.net"],
.embed-IeVjo6 a[href*="Betterdocs.net"],
.embed-IeVjo6 a[href*="betterDocs.net"],
.embed-IeVjo6 a[href*="betterdocs.net"]{
    color:transparent !important;
    height:70px;
}
.embed-IeVjo6 a[href*="BetterDocs.us/preview"]:before,
.embed-IeVjo6 a[href*="Betterdocs.us/preview"]:before,
.embed-IeVjo6 a[href*="betterDocs.us/preview"]:before,
.embed-IeVjo6 a[href*="betterdocs.us/preview"]:before {
    width:390px;
    height:140px;
    content:'Warning About BetterDocs -\a This page linked is an unofficial source, and should be treated as\asuch. The owner posts peoples themes and plugins without their\a permission, and also contains content that would not be found on\a the official BetterDiscord repos. This means it probably contains \aharmful plugins that could either get you into trouble with discord,\a or steal user account info. Please stay safe, and download from \aofficial sources only.';
}
