/*Core*/
.avatarWrapperNormal-3wFMbf::after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    background-repeat:no-repeat;
    pointer-events:none;
    opacity:.5;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-image:var(--popoutbg);
    -webkit-mask-image:linear-gradient(#000,transparent);
}
.header-2BwW8b *,
.body-3iLsc4 *,
.footer-1fjuF6 *{
    z-index:1;
}
/*Tropical*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="254362351170617345"] {
    --popoutbg:url(https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif);
}
/*Spectra*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="286208664623120384"] {
    --popoutbg:url(https://i.imgur.com/BGyfYiv.gif);
}
/*Korbs*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="273169968202252289"] {
    --popoutbg:url(https://cdn.discordapp.com/attachments/456652562435670027/567151535889448990/oc__winter_feelings___my_new_wallpaper___4k_by_total_chuck-dbv5j3k.jpg);
}
/*Lil Monster*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="402272736665272320"] {
    --popoutbg:url(https://i.imgur.com/CAsvn0q.gif);
}
/*Lucifer*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="197477050569719808"] {
    --popoutbg:url(https://i.imgur.com/zGCbSy9.gif);
}
/*Pengu*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="116243287936860167"] {
    --popoutbg:url(https://i.imgur.com/BZfpcz5.gif);
}
/*Ulli*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="282138006738042880"] {
    --popoutbg:url(https://i.imgur.com/K7wg8wQ.gif);
}
/*Atom*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="150967530075324416"] {
    --popoutbg:url(https://i.imgur.com/XRPmOL9.gif);
}
/*Luan*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="172426681800196096"] {
    --popoutbg:url(https://i.imgur.com/HIGCxW4.gif);
}
/*ooSakuraRoseOo*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="438846426441711616"] {
    --popoutbg:url(https://media.giphy.com/media/AdtvZ8gu9gZ32/giphy.gif);
}
/*Englels*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="234148582523928576"] {
    --popoutbg:url(https://i.imgur.com/N3bBV5Q.gif);
}
/*Zurazan*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="219078125974192128"] {
    --popoutbg:url(http://i.imgur.com/TVkGvZR.gif);
}
/*223530152296972289*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="223530152296972289"] {
    --popoutbg:url(https://i.imgur.com/yumRBoF.gif);
}
/*Justin A. Davidson*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="312782599439515650"] {
    --popoutbg:url(https://i.imgur.com/xDqWBye.png);
}
/*preston*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="498444458845536257"] {
    --popoutbg:url(https://i.imgur.com/KYls2nW.gif);
}
/*Lushu*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="336678828233588736"] {
    --popoutbg:url(https://data.whicdn.com/images/245235615/original.gif);
}
/*Redd*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="331398151229669378"] {
    --popoutbg:url(https://i.imgur.com/Gyc5jHN.gif);
}
/*Sydnxt*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="213220786805145600"] {
    --popoutbg:url(https://i.imgur.com/QmvSS36.gif);
}
/*Guest173661*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="244363360886325248"] {
    --popoutbg:url(https://i.imgur.com/SLJ4Fvi.png);
}
/*Sean/Ryah*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="236561912597446666"] {
    --popoutbg:url(https://i.imgur.com/ak9zgoj.gif);
}
/*SackSparrow VI*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="324680910123302922"] {
    --popoutbg:url(https://i.imgur.com/tVUWNXQ.gif);
}
/*Vince*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="183766480112844801"] {
    --popoutbg:url(https://i.imgur.com/FwZzeV3.png);
}
/*Skittles*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="433698341008965633"] {
    --popoutbg:url(https://media1.giphy.com/media/26tP80DaorPjmqlC8/giphy.gif?cid=790b76115cd1e9934662392f41059601&rid=giphy.gif);
}
/*ORI*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="249986660371136513"] {
    --popoutbg:url(https://i.imgur.com/tVUWNXQ.gif);
}
/*HorrorTroll*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="152430800241950720"] {
    --popoutbg:url(https://66.media.tumblr.com/04caae14ec61b27387e52b19401b0318/tumblr_n9jsckxL9z1rf78nfo1_400.gif);
}
/*ImTropixz*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="361318789691736064"] {
    --popoutbg:url(https://media0.giphy.com/media/BHNfhgU63qrks/giphy.gif);
}
/*FireShadow_*/
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="265907876239900674"] {
    --popoutbg:url(https://patch.com/img/cdn20/users/22941961/20180909/030158/styles/T800x600/public/processed_images/shutterstock_289828547-1536519618-492.jpg);
}
