.userPopout-3XzG_A .headerNormal-T_seeN *,
.body-3iLsc4 * {
    z-index:1;
}
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="219078125974192128"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="223530152296972289"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="312782599439515650"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="498444458845536257"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="336678828233588736"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="331398151229669378"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="213220786805145600"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="244363360886325248"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="236561912597446666"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="324680910123302922"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="183766480112844801"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="433698341008965633"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="249986660371136513"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="152430800241950720"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="361318789691736064"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="265907876239900674"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE {
    position:absolute;
    width:287% !important;
    height:200px !important;
    top:-20px !important;
    left:-100%;
    pointer-events:none;
    z-index:-1;
    border-bottom:none !important;
    border-left:none !important;
    border-right:none !important;
    border-top-width:7px !important;
    -webkit-mask: linear-gradient(black, transparent 60%);
    background-position:0 100%;
    background-size:cover;
    border-radius:0 !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="219078125974192128"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="223530152296972289"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="312782599439515650"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="498444458845536257"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="336678828233588736"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="331398151229669378"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="213220786805145600"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="244363360886325248"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="236561912597446666"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="324680910123302922"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="183766480112844801"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="433698341008965633"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="249986660371136513"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="152430800241950720"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="361318789691736064"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="265907876239900674"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R {
    border-top-color:var(--online);
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="223530152296972289"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="312782599439515650"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="498444458845536257"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="336678828233588736"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="331398151229669378"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="213220786805145600"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="244363360886325248"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="236561912597446666"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="324680910123302922"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="183766480112844801"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="433698341008965633"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="249986660371136513"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="152430800241950720"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="361318789691736064"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="265907876239900674"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT {
    border-top-color:var(--idle);
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="219078125974192128"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="223530152296972289"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="312782599439515650"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="498444458845536257"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="336678828233588736"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="331398151229669378"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="213220786805145600"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="244363360886325248"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="236561912597446666"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="324680910123302922"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="183766480112844801"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="433698341008965633"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="249986660371136513"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="152430800241950720"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="361318789691736064"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="265907876239900674"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq {
    border-top-color:var(--dnd);
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="219078125974192128"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="223530152296972289"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="312782599439515650"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="498444458845536257"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="336678828233588736"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="331398151229669378"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="213220786805145600"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="244363360886325248"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="236561912597446666"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="324680910123302922"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="183766480112844801"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="433698341008965633"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="249986660371136513"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="152430800241950720"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="361318789691736064"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="265907876239900674"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe{
    border-top-color:var(--streaming);
}

/*Tropical*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .status-oxiHuE {
    background-image:url('https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] {
    border:2px solid rgb(253, 169, 76);
    box-shadow:0 0 12px rgb(253, 169, 76);
    opacity:.75;
    animation:keyframeTropical 1.5s ease infinite, keyframeFadeIn 350ms ease;
}

/*Spectra*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/BGyfYiv.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] {
    animation:keyframeScaleIn 350ms cubic-bezier(0,0,0,1), keyframeFadeIn 350ms ease;;
}

/*Korbs*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .status-oxiHuE {
    background-image:url('https://cdn.discordapp.com/attachments/456652562435670027/567151535889448990/oc__winter_feelings___my_new_wallpaper___4k_by_total_chuck-dbv5j3k.jpg') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] {
    animation:keyframeFadeIn 250ms ease;
}

/*Lil Monster*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/CAsvn0q.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.8;
}

/*Lucifer*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/zGCbSy9.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Pengu*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/BZfpcz5.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Ulli*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/K7wg8wQ.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Atom*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/XRPmOL9.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Luan*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/HIGCxW4.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*ooSakuraRoseOo*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .status-oxiHuE {
    background-image:url('https://media.giphy.com/media/AdtvZ8gu9gZ32/giphy.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*engels*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/N3bBV5Q.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] {
    animation:keyframeFallBounce .5s ease;
    opacity:.75;
}

/*Zurazan*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="219078125974192128"] + .status-oxiHuE {
    background-image:url('http://i.imgur.com/TVkGvZR.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="219078125974192128"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*223530152296972289*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="223530152296972289"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/yumRBoF.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="223530152296972289"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Justin A. Davidson*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="312782599439515650"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/xDqWBye.png') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="312782599439515650"] {
    animation:keyframeFallBounce .5s ease;
    opacity:.75;
}

/*preston*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="498444458845536257"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/KYls2nW.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="498444458845536257"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*lushu*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="336678828233588736"] + .status-oxiHuE {
    background-image:url('https://data.whicdn.com/images/245235615/original.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="336678828233588736"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Redd*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="331398151229669378"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/Gyc5jHN.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="331398151229669378"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.8;
}

/*Sydnxt*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="213220786805145600"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/QmvSS36.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="213220786805145600"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Guest173661*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="244363360886325248"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/SLJ4Fvi.png') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="244363360886325248"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Sean/Ryah*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="236561912597446666"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/ak9zgoj.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="236561912597446666"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*SackSparrow VI*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="324680910123302922"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/tVUWNXQ.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="324680910123302922"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Vince*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="183766480112844801"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/FwZzeV3.png') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="183766480112844801"] {
    animation:keyframeFadeIn 250ms ease;
}

/*Skittles*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="433698341008965633"] + .status-oxiHuE {
    background-image:url('https://media1.giphy.com/media/26tP80DaorPjmqlC8/giphy.gif?cid=790b76115cd1e9934662392f41059601&rid=giphy.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="433698341008965633"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*ORI*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="249986660371136513"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/tVUWNXQ.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="249986660371136513"] {
    animation:keyframePulseMain 1.5s ease infinite, keyframeFadeIn 250ms ease;
    opacity:.75;
}

/*HorrorTroll*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="152430800241950720"] + .status-oxiHuE {
    background-image:url('https://66.media.tumblr.com/04caae14ec61b27387e52b19401b0318/tumblr_n9jsckxL9z1rf78nfo1_400.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="152430800241950720"] {
    animation:keyframeFadeIn 250ms ease;
    opacity:.75;
}

/*ImTropixz*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="361318789691736064"] + .status-oxiHuE {
    background-image:url('https://media0.giphy.com/media/BHNfhgU63qrks/giphy.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="361318789691736064"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*FireShadow_*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="265907876239900674"] + .status-oxiHuE {
    background-image:url('https://patch.com/img/cdn20/users/22941961/20180909/030158/styles/T800x600/public/processed_images/shutterstock_289828547-1536519618-492.jpg') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="265907876239900674"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/
/*USER*/

/*KEYFRAMES*/
@keyframes keyframeScaleIn {
    0% {transform:scale(0);}
    100% {transform:scale(1);}
}
@keyframes keyframeFadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes keyframePulseMain {
  0% {
    -webkit-box-shadow: 0 0 16px 3px var(--accent);
  }
  50% {
    -webkit-box-shadow: 0 0 2px 1px var(--accent);
  }
  100% {
    -webkit-box-shadow: 0 0 16px 3px var(--accent);
  }
}
@keyframes keyframeFallBounce {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 1;
    transform: translateY(0) scale(1.1, 0.9);
  }
  50% {
    transform: translateY(-20%) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(0)
  }
}
@-webkit-keyframes keyframeTropical {
  0% {
    -webkit-box-shadow: 0 0 12px 2px rgb(253, 169, 76);
  }
  50% {
    -webkit-box-shadow: 0 0 2px 2px rgb(253, 169, 76);
  }
  100% {
    -webkit-box-shadow: 0 0 12px 2px rgb(253, 169, 76);
  }
}
