.userPopout-3XzG_A .headerNormal-T_seeN *,
.body-3iLsc4 * {
    z-index:1;
}
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE,
#app-mount .userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .status-oxiHuE{
    position:absolute;
    width:287% !important;
    height:200px !important;
    top:-20px !important;
    left:-100%;
    pointer-events:none;
    z-index:-1;
    border-bottom:none !important;
    border-left:none !important;
    border-right:none !important;
    border-top-width:7px !important;
    -webkit-mask: linear-gradient(black, transparent 60%);
    background-position:0 100%;
    background-size:cover;
    border-radius:0;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .online-2S838R {
    border-top-color:var(--online);
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .idle-3DEnRT{
    border-top-color:var(--idle);
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .dnd-1_xrcq {
    border-top-color:var(--dnd);
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe,
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="USER"] + .streaming-2_dnHe {
    border-top-color:var(--streaming);
}

/*Tropical*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] + .status-oxiHuE {
    background-image:url('https://media.giphy.com/media/KCkkOdKnJBlU0wPDOZ/giphy.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="254362351170617345"] {
    border:2px solid rgb(253, 169, 76);
    box-shadow:0 0 12px rgb(253, 169, 76);
    opacity:.75;
    animation:keyframeTropical 1.5s ease infinite, keyframeFadeIn 350ms ease;
}

/*Spectra*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] + .status-oxiHuE {
    background-image:url('https://cdn.discordapp.com/attachments/524430244279615488/567151135832408064/bg.png') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="286208664623120384"] {
    animation:keyframeScaleIn 350ms cubic-bezier(0,0,0,1);
}

/*Korbs*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] + .status-oxiHuE {
    background-image:url('https://cdn.discordapp.com/attachments/456652562435670027/567151535889448990/oc__winter_feelings___my_new_wallpaper___4k_by_total_chuck-dbv5j3k.jpg') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="273169968202252289"] {
    animation:keyframeFadeIn 250ms ease;
}

/*Lil Monster*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/CAsvn0q.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="402272736665272320"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.8;
}

/*Lucifer*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/zGCbSy9.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="197477050569719808"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Pengu*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/BZfpcz5.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="116243287936860167"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Ulli*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/BZfpcz5.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="282138006738042880"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Atom*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/XRPmOL9.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="150967530075324416"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*Luan*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] + .status-oxiHuE {
    background-image:url('https://i.imgur.com/HIGCxW4.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="172426681800196096"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*ooSakuraRoseOo*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] + .status-oxiHuE {
    background-image:url('https://media.giphy.com/media/AdtvZ8gu9gZ32/giphy.gif') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="438846426441711616"] {
    animation:keyframePulseMain 1.5s ease infinite;
    opacity:.75;
}

/*engels*/
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] + .status-oxiHuE {
    background-image:url('https://imgur.com/N3bBV5Q') !important;
}
.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="234148582523928576"] {
    animation:keyframeFallBounce .25s ease infinite;
    opacity:.75;
}

/*USER*/

/*USER*/

/*USER*/

/*USER*/

/*KEYFRAMES*/
@keyframes keyframeScaleIn {
    0% {transform:scale(0);}
    100% {transform:scale(1);}
}
@keyframes keyframeFadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes keyframePulseMain {
  0% {-webkit-box-shadow: 0 0 0 0 var(--accent);}
  70% {-webkit-box-shadow: 0 0 0 5px rgba(204, 169, 44, 0);}
  100% {-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);}
}
@keyframes keyframeFallBounce {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 1;
    transform: translateY(0) scale(1.1, 0.9);
  }
  50% {
    transform: translateY(-20%) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(0)
  }
}
@-webkit-keyframes keyframeTropical {
  0% {
    -webkit-box-shadow: 0 0 12px 2px rgb(253, 169, 76);
  }
  50% {
    -webkit-box-shadow: 0 0 2px 2px rgb(253, 169, 76);
  }
  100% {
    -webkit-box-shadow: 0 0 12px 2px rgb(253, 169, 76);
  }
}
