/**
 * @name Midnight UI
 * @author Tropical#8908
 * @version 2.4
 * @description An almost black theme with sharp edges that is easy on the eyes and has glow in some places. Fully customizable through the theme file.
 * @source https://github.com/tropix126/betterDiscordStuff/blob/master/midnight/base.css
 * @website https://tropix126.github.io/BetterDiscordStuff/midnight/
*/
/*
/$$      /$$ /$$       /$$           /$$           /$$         /$$
| $$$    /$$$|__/      | $$          |__/          | $$        | $$
| $$$$  /$$$$ /$$  /$$$$$$$ /$$$$$$$  /$$  /$$$$$$ | $$$$$$$  /$$$$$$
| $$ $$/$$ $$| $$ /$$__  $$| $$__  $$| $$ /$$__  $$| $$__  $$|_  $$_/
| $$  $$$| $$| $$| $$  | $$| $$  \ $$| $$| $$  \ $$| $$  \ $$  | $$
| $$\  $ | $$| $$| $$  | $$| $$  | $$| $$| $$  | $$| $$  | $$  | $$ /$$
| $$ \/  | $$| $$|  $$$$$$$| $$  | $$| $$|  $$$$$$$| $$  | $$  |  $$$$/
|__/     |__/|__/ \_______/|__/  |__/|__/ \____  $$|__/  |__/   \___/
                                         /$$  \ $$
                                        |  $$$$$$/
                                         \______/
/Import Base CSS File*/
@import url('https://tropix126.github.io/BetterDiscordStuff/midnight/css/base.css');
/*Root*/
:root {
/*Primary Variables*/
  --lv1:#00000f;
  --accent:#1973d3;
  --hover:#135193;
  --bg:url('https://i.imgur.com/GdnbuVj.jpg');
  --lvl-bg-opacity:0.25;
  --lvl-bg-fade:80%;

/*Status Variables*/
  --online: #43b581;
  --idle: #faa61a;
  --dnd: #f04747;
  --offline: #636b75;
  --invisible: #747f8d;
  --streaming: #643da7;

/*Roundness Variables*/
  --user-roundness:0px;
  --guilds-roundness:0px;

/*Other Variables*/
  --BetterDocsBlockerBlack1:var(--lv1);
}
