/*//META{"name":"Midnight","description":"An almost black theme with sharp edges that is easy on the eyes and has glow in some places. Fully customizable through the theme file.","author":"Tropical and Spectra","version":"1.0", "website":"https://bit.ly/derealised", "source":"https://github.com/tropix126/betterDiscordStuff/blob/master/midnight/base.css"}*//**/
/*
/$$      /$$ /$$       /$$           /$$           /$$         /$$
| $$$    /$$$|__/      | $$          |__/          | $$        | $$
| $$$$  /$$$$ /$$  /$$$$$$$ /$$$$$$$  /$$  /$$$$$$ | $$$$$$$  /$$$$$$
| $$ $$/$$ $$| $$ /$$__  $$| $$__  $$| $$ /$$__  $$| $$__  $$|_  $$_/
| $$  $$$| $$| $$| $$  | $$| $$  \ $$| $$| $$  \ $$| $$  \ $$  | $$
| $$\  $ | $$| $$| $$  | $$| $$  | $$| $$| $$  | $$| $$  | $$  | $$ /$$
| $$ \/  | $$| $$|  $$$$$$$| $$  | $$| $$|  $$$$$$$| $$  | $$  |  $$$$/
|__/     |__/|__/ \_______/|__/  |__/|__/ \____  $$|__/  |__/   \___/
                                         /$$  \ $$
                                        |  $$$$$$/
                                         \______/
/Import Base CSS File*/
@import url('https://tropix126.github.io/BetterDiscordStuff/midnight/css/base.css');
/*Root*/
:root {
/*Primary Variables*/
    --lv1:#00000f;
    --accent:#1973d3;
    --hover:#135193;

/*Status Variables*/
  --online: #43b581;
  --idle: #faa61a;
  --dnd: #f04747;
  --offline: #636b75;
  --invisible: #747f8d;
  --streaming: #643da7;

/*Other Variables*/
  --BetterDocsBlockerBlack1:var(--lv1);
}
