/*Collapsed Dropdown Menu from Beards Material*/
.item-1GzJrl.invite-271nFU > .icon-2doZ3q {background-image: url(https://svgur.com/i/8uL.svg) !important;}
.icon-2doZ3q[style*="00de6b3cbb5c4dbcec817c91262f5f5b.svg"] {background-image: url(https://svgshare.com/i/8vf.svg) !important; opacity: 1;}
.icon-2doZ3q[style*="2fc862597335421b35a79aa9aaba4a86.svg"] {background-image: url(https://svgshare.com/i/8sL.svg) !important; opacity: .6; background-size: 100%;}
.icon-2doZ3q[style*="50f8ef2cdb4e7697a4202fb9c6d0e1fc.svg"] {background-image: url(https://svgshare.com/i/8sN.svg) !important; opacity: .6; background-size: 100%;}
.icon-2doZ3q[style*="858df73648ac3877a22156da2e69a5fd.svg"] {background-image: url(https://svgshare.com/i/8vx.svg) !important; opacity: .6; background-size: 100%;}
.icon-2doZ3q[style*="52bc30f8a2b1a51f808a785819ca00b5.svg"] {background-image: url(https://svgshare.com/i/8uh.svg) !important; opacity: .6; background-size: 100%;}
.icon-2doZ3q[style*="9a93097ab591379729c68f15a17b26af.svg"] {background-image: url(https://svgshare.com/i/8vk.svg) !important; opacity: .6; background-size: 100%;}
.icon-2doZ3q[style*="6a711bd91522e885413464a88a4e3c69.svg"] {background-image: url(https://svgshare.com/i/8vH.svg) !important; opacity: .6; background-size: 100%;}
.icon-2doZ3q[style*="6afcd5d6a8c9d467e27e1bb48755dce0.svg"] {background-image: url(https://svgshare.com/i/8sP.svg) !important; opacity: .6; background-size: 100%;}
.icon-2doZ3q[style*="bc11a9099f5729962c095cb49d5042f6.svg"] {background-image: url(https://svgshare.com/i/8vR.svg) !important; opacity: .6; background-size: 100%;
}
.popoutBottom-1YbShG[style*="overflow: hidden; visibility: visible;"] {text-align: center !important;}
.item-1GzJrl {display: inline-block !important; padding: 7px 9px !important;}
.separator-2zcjq8,.label-1Y-LW5 {display: none;}
.icon-2doZ3q {margin:auto !important;}
.popoutBottom-1YbShG .menu-Sp6bN1 * {margin-right:2px;}
.popoutBottom-1YbShG[style*="overflow: hidden; visibility: visible;"] {text-align: center !important;}
.popoutBottom-1YbShG {margin-top:15px !important; border-top:3px solid var(--main-color); border-radius:5px !important; height:auto !important;
}
