/*Collapsed Dropdown Menu*/
.popoutBottom-1YbShG[style*="overflow: hidden; visibility: visible;"] {text-align: center !important;}
.item-1GzJrl {display: inline-block !important; padding: 7px 9px !important;}
.separator-2zcjq8,.label-1Y-LW5 {display: none;}
.icon-2doZ3q {margin:auto !important;}
.popoutBottom-1YbShG .menu-Sp6bN1 * {margin-right:2px;}
.popoutBottom-1YbShG[style*="overflow: hidden; visibility: visible;"] {text-align: center !important;}
.popoutBottom-1YbShG {margin-top:15px !important; border-top:3px solid var(--main-color); border-radius:5px !important; height:auto !important;}
