/*Account details in margin*/
.accountDetails-3k9g4n .username {
    display: inline-block !important;
    font-family: "Satisfy" !important;
    font-weight: 700 !important;
    font-size: 250% !important;
    height: 90px !important;
    line-height: 65px !important;
    color: var(--main-color) !important;
    margin-bottom: -18px !important;
    min-width: 111% !important;
    max-width: 111% !important;
    text-align: center !important;
    margin-top:8px !important;
    margin-left:-15px !important;
}
.accountDetails-3k9g4n {
    position: absolute !important;
    right: 0px !important;
    height: 75px !important;
    max-width: 242px !important;
    min-width: 242px !important;
}
.accountDetails-3k9g4n .discriminator {
    right: 5px !important;
    position: absolute !important;
    display: initial !important;
    padding-top: 53px !important;
}
.members-1998pB {margin-bottom:60px !important;}
.button-2b6hmh {margin-right:15px !important;}
.privateChannels-1nO12o ~ .container-2Thooq .accountDetails-3k9g4n {display: none;}
.accountDetails-3k9g4n .username {z-index:99 !important;}
.searchResultsWrap-2DKFzt {z-index:100 !important;}
