/*Account details in margin*/
.accountDetails-3k9g4n .username {
    display: inline-block;
    font-family: "Satisfy";
    font-weight: 700;
    font-size: 250%;
    height: 90px;
    line-height: 65px;
    color: var(--main-color) !important;
    margin-bottom: -18px;
    min-width: 111%;
    max-width: 111%;
    text-align: center;
    margin-top:8px;
    margin-left:-15px
}
.accountDetails-3k9g4n {
    position: fixed;
    right: 0px;
    height: 75px;
    max-width: 242px !important;
    min-width: 242px !important;
}
.accountDetails-3k9g4n .discriminator {
    right: 5px;
    position: fixed;
    display: initial;
    padding-top: 53px;
}
.theme-dark .members-1998pB {margin-bottom:60px;}
.theme-dark .button-2b6hmh {text-align:center;}
.privateChannels-1nO12o ~ .container-2Thooq .accountDetails-3k9g4n {display: none;}
