@import url("https://satoru8.github.io/Addons/Library.css");
.gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .row-ZLfFhY {background:rgba(0,0,0,0.35) !important;}
.gameLibrary-TTDw4Y .rowWrapper-2fB6P0 {box-shadow:2px 2px 4px rgba(0,0,0,0.5) !important;}
.gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .platformCell-XyBBs6, .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .lastPlayedCell-2arbtc, .gameLibrary-TTDw4Y .icon-1IKq3C {
    color: rgba(255, 255, 255, 0.7) !important;
    font-weight: 800 !important;
}
