/*Full Reborn Revert. A collection of snippets that changes the look of Ellexides themes to look like the original reborn.*/
/* Table of Contents/
1. User Settings, Popouts, and Titlebar:
     1.a. Greeting Message
     1.b. Server Message
     1.c. Settings Sidebar
     1.d. Titlebar
     1.e. Theme and Plugin Dialogs
     1.f. Darkness Filter
     1.g. Headers
2. Tooltips
     2.a. Tooltip Theming
3. Shadow
     3.a. Text Shadow
     3.b. Box Shadow
4. Guilds
     4.a. Guilds Roundness
     4.b. Guilds Size
     4.c. Unread Indicators
     4.d. Guilds Menu
5. Home Icon 
     5.a Icon
6. Fonting
     6.a. Username Font
7. User Popouts
     7.a. User Popout Pattern
8. Scrollbars 
     8.a. Chat Scrollbar
9. Channels and Categories
     9.a. Channel Theming
     9.b. Category Theming
10. Chat Area
     10.a Jump To Present
11. Friends List
     11.a. Menu Buttons
12. Mentions
    12.a. Mentions
/*
/*============== REVERTS ==============*/
/*1. User Settings, Popouts, and Titlebar : */
/*1.a. Greeting*/
.version {
     	display: inline-block;
     	margin: 0px 0px 0px 0px
     }
body:before {
     	content: "You are using Reborn. Have a great day!";
     	z-index: 1000000000000000000000000;
     	color: #fff;
     	background: var(--mc);
     	top: 0px;
     	left: 50%;
     	position: absolute;
     	border-radius: 5px;
     	padding: 5px 15px;
     	-webkit-transform: translate(-50%, -100%);
     	transform: translate(-50%, -100%);
     	-webkit-animation: version 3s ease;
     	animation: version 3s ease;
     	-webkit-animation-delay: 4s;
     	animation-delay: 4s
     }
/*1.b. Server Message */
.theme-dark .standardSidebarView-3F1I7i #bd-settingspane-container .content-column.default .ui-form-title.h2::after {
    display: block;
    position: relative;
    background: var(--main-color);
    padding: 10px 15px;
    white-space: pre;
    margin-bottom: -10px;
    margin-top: 15px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    font-weight: 600;
    color: #fff;
    text-transform: initial;
    text-align: center;
}
#bd-settingspane-container .content-column.default .ui-form-title.h2::after {
    content: "Hey, I see you are using my patch for Reborn! \A If you would like, you can give me feedback or get support at: \A\A bit.ly/derealised \A\A Also, we have addons, tag requests and more themes.\AHave a great day!";
}
/*1.c. Settings Sidebar*/
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN, .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
    -webkit-box-flex: 1;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
    -ms-flex: 1 0 218px;
    -ms-flex-pack: end;
    flex: 1 0 218px;
    z-index: 1;
}
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
    background-color: transparent !important;
}
/*1.d. Titlebar*/
.titleBar-AC4pGV div {
    transform: scale(1) !important;
}
div[class*="titleBar-"] div:nth-of-type(4) {background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/remove.svg) !important;}
div[class*="winButton-"] {transition: 200ms ease; margin-top:2px !important;}
/*1.e. Theme and Plugin Dialogs*/
#bd-settingspane-container .ui-switch-item {
	flex-direction: column;
	margin-top: 8px;
}
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
	background: rgba(0, 0, 0, 0.6)!important;
	border-radius: 2px!important;
}
.ui-standard-sidebar-view .bda-slist li:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 6px 0px #161617;
}
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
	background: #161617;
	border-top: 0px solid transparent;
}
.ui-standard-sidebar-view .bda-slist li {
	background: rgba(0, 0, 0, 0.6)!important;
	border-radius: 2px!important;
}
.ui-standard-sidebar-view .bda-slist li {
	background: #161617;
	border-bottom: 0px solid transparent;
	margin-top: 7px;
	box-shadow: 0px 0px 3px 0px #161617;
	transition: .2s all linear;
}
.bda-slist li:nth-child(odd) {
	background: #121213;
	border-top: 1px solid #121213;
}
/*1.f. Darkness Filter*/
.theme-dark .standardSidebarView-3F1I7i{background:rgba(0,0,0,0.4) !important;}
/*1.g. Headers*/
.menu-Sp6bN1 {
    background: var(--tertiary-color) !important;
    animation: opacity 100ms ease, context-open-new 300ms cubic-bezier(0, 0, 0, 1) !important;
}

.popouts-3dRSmE .popout-3sVMXz.popoutBottom-1YbShG.popoutbottom .menu-Sp6bN1 {
    animation: opacity 100ms ease, context-open-new 300ms cubic-bezier(0, 0, 0, 1) !important;
}
.theme-dark .footer-3oZnEF {
    bottom:none !important;
    opacity:0.5 !important;
}
  .theme-dark .ui-standard-sidebar-view .content-region {
      background: transparent;
  }
  .theme-dark .ui-standard-sidebar-view {
      background: rgba(0,0,0,0.4);
}
.theme-dark .bda-slist .bda-header {
    color: #f6f6f7;
    border-bottom: 2px solid var(--main-color);
}
/*Title Header*/
.side-8zPYf6 .header-2RyJ0Y, .theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    border-bottom:2px solid var(--main-color) !important;
    color:white !important;
    font-size:15px !important;
    text-align:center !important;
    margin-bottom:3px !Important;
}
/*2. Tooltips/*
/*2.a. Tooltip Theming*/
.tooltip-black {
	border-radius: 5px !important
}
.tooltip {
	padding: 5px 8px !important
}
/*3. Shadow*/
/*3.a. Text Shadow*/
.tooltip-black {
	text-shadow: 0px 1px 3px #000
}
* {
	text-shadow: 1px 1px 3px black!important
}
/*3.b. Box Shadow*/
:root {
	--shadow: transparent
}
[class*="avatar-"], .image-EVRGPw {
    box-shadow: 0.5px 0.5px 2px black !important;
}
/*4. Guilds*/
/*4.a. Guilds Roundness (DOES NOT ALWAYS WORK)*/
.guild-1EfMGQ {
    --roundness: 50px;
}
/*4.b. Guilds Size*/
.iconSizeLarge-161qtT {
    height: 46px; !important;
    width: 46px; !important;
}
/*4.c. Unread Indicators*/
.guild-1EfMGQ.selected-ML3OIq:before {
    box-shadow:none !important;
    border-radius:5px !important;
    margin-top: -21px !important;
}
.guild-1EfMGQ.selected-ML3OIq:before, .guild-1EfMGQ.unread-qLkInr:before {
    margin-left:2px !important;
}
.guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 5px !important;
    background:var(--hover-color) !important;
    box-shadow: none !important;
}
/*4.d. Guilds Menu*/
.side-8zPYf6 .item-PXvHYJ:hover {
    background:var(--quaternary-color) !important;
} 
.name-3YKhmS {
    margin-bottom:5px;
}
/*5. Home Icon*/
/*5.a. Icon*/
.homeIcon-1FoKUJ {
	-webkit-mask: url(https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/resources/homeicon.svg);
	-webkit-mask-size: var(--home-size);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}
/*6. Fonting*/
/*6.a. Username Font*/
.accountDetails-3k9g4n .username {
	font-size: 120%;
	font-family: "Satisfy";
}
/*7. User Popouts*/
/*7.a. User Popout Pattern*/
.headerTop-3C2Zn0 {
    background-image: url(https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/resources/pattern.svg) !important;
    background-size: 9em !important;
}
/*8. Scrollbars */
/*8.a. Chat Scrollbar*/
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border: 3px solid transparent !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
}
/*9. Channels and Categories */
/*9.a. Channel Theming*/
.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM {
	background-color: rgba(0,0,0,.6);
	border-color:none !important;
}
.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM,
.contentHoveredText-2D9B-x {
	border-radius: 5px;
}
.contentHoveredText-2D9B-x {
	border-color: transparent;
}
.channel-2QD9_O.selected-1HYmZZ .member-3W1lQa:hover, a, .channel-2QD9_O:hover a, .usernameOnline-3jr_0Y .privateChannels-1nO12o .channel-2QD9_O.selected-1HYmZZ:hover a {
    border-radius:5px !important;
    border-left:transparent !important;
    border-right:transparent !important;
}
/*9.b. Category Theming*/
.nameDefault-2DI02H {
	color: #FFF !important;
}
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
    padding-top: 0;
    margin-top: 12px;
    margin-bottom: 6px;
    background-color: transparent;
    margin-left: 0px;
    height: 31.11px;
    padding: 0 8px;
    border-radius: 0px;
  }
/*10. Chat Area
10.a. Jump To Present*/
.chat-3bRxxu .jumpToPresentBar-9P20AM:before{display:none !important;}   
.chat-3bRxxu .jumpToPresentBar-9P20AM{border-radius:7px 7px 0px 0px !important;}
.chat-3bRxxu .jumpToPresentBar-9P20AM button:last-child {
    font-family:"Whitney" !important;
    font-size:13px !important;
    color:white !important;
}
.jumpToPresentBar-9P20AM button:last-child {
    -webkit-transition: color .2s !important;
    color: hsla(0,0%,100%,.6) !important;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .2s;
}
.jumpToPresentBar-9P20AM button {
    background: none;
    color: #fff;
    line-height: 14px;
    padding: 6px 10px;
    text-align: left;
}

.jumpToPresentBar-9P20AM {margin-bottom:-15px !important;}
.jumpToPresentBar-9P20AM:hover {background:var(--hover-color) !important;}
.chat-3bRxxu .jumpToPresentBar-9P20AM:before {display:none !important;}
/*11. Friends List
11.a. Buttons*/
.theme-dark #friends .tab-bar.tab-bar-desktop .tab-bar-item {border-radius:3px !important;}
.theme-dark #friends .tab-bar .tab-bar-item.selected {background-color: var(--main-color) !important; color:white;}
#friends .tab-bar .tab-bar-item.tab-bar-item-primary {background-color: var(--hover-color) !important;
}
/*12. Mentions
12.a. Mentions*/
.theme-dark .wrapper-3WhCwL {
    background:var(--quaternary-color);
    border-radius:3px;
    color:var(--main-color);
}
.theme-dark .wrapper-3WhCwL:hover {
    background-color: var(--hover-color) !important;
    color: #fff;
    opacity: 0.9;
    transition: .2s all linear;
}

.containerCozy-jafyvG .isMentioned-N-h9aa {
    background:var(--secondary-color);
    border-radius:3px;
    box-shadow:none;
}
/*==== THANKS FOR USING THIS ADDON ====*/
