/*
  /$$$$$$  /$$       /$$  /$$$$$$            /$$             /$$    
 /$$__  $$| $$      | $$ /$$__  $$          |__/            | $$    
| $$  \ $$| $$  /$$$$$$$| $$  \ $$ /$$   /$$ /$$  /$$$$$$  /$$$$$$  
| $$  | $$| $$ /$$__  $$| $$  | $$| $$  | $$| $$ /$$__  $$|_  $$_/  
| $$  | $$| $$| $$  | $$| $$  | $$| $$  | $$| $$| $$$$$$$$  | $$    
| $$  | $$| $$| $$  | $$| $$/$$ $$| $$  | $$| $$| $$_____/  | $$ /$$
|  $$$$$$/| $$|  $$$$$$$|  $$$$$$/|  $$$$$$/| $$|  $$$$$$$  |  $$$$/
 \______/ |__/ \_______/ \____ $$$ \______/ |__/ \_______/   \___/  
                              \__/                                  
                           By Tropical
*/
/*IMPORT OLDREBORN*/
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Old%20Reborn.css");
/*Adjust Background*/
.theme-dark,
.appMount-3VJmYg {
  --quaternary-color: #19191a !important;
  --primary-color: rgb(31,31,33) !important;
}
/*PRIMARY*/
#bd-settingspane-container .ui-switch-item,
.theme-dark .guildsWrapper-5TJh6A,
.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM,
.chat-3bRxxu .divider-3gKybi.dividerRed-MKoLlr>span,
.container-2Rl01u:hover,
.header-2o-2hj:hover,
.guildsWrapper-5TJh6A .guilds-1q_RqH>.guild-1EfMGQ:first-child .guildInner-3DSoA4:hover
{background:var(--quaternary-color) !important;}
/*QUATERNARY*/
.theme-dark .headerBar-UHpsPw,
.header-2o-2hj,
.inner-zqa7da,
.container-2Thooq,
.guildInner-3DSoA4,
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP,
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e,
.guildsWrapper-5TJh6A .guilds-1q_RqH>.guild-1EfMGQ:first-child .guildInner-3DSoA4
{background:var(--primary-color) !important;}
/*Remove OldReborn Text-Shadow*/
*{text-shadow:none !important;}
/*Search Bar Background*/
.theme-dark .search .DraftEditor-root {line-height:24px !important;}
.search .search-bar {
  border:3px solid var(--quaternary-color) !important;
  height: 35px;
  border-radius: 3px;
}
/*Settings Menu*/
.ui-standard-sidebar-view .sidebar-region, .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
    background:var(--primary-color) !important;
}
.ui-standard-sidebar-view .sidebar-region .sidebar, .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
    background-color: var(--primary-color) !important;
}
/*Search Bar Background*/
.theme-dark .search .DraftEditor-root {line-height:20px !important; margin-left:-10px !important;}
.search .search-bar {
  border:3px solid var(--quaternary-color) !important;
  height: 35px;
  border-radius: 3px;
}
.theme-dark .search .search-bar .public-DraftEditorPlaceholder-root {
    color:rgba(255,255,255,0.5) !important;
    text-shadow:none !important;
}
/*SB in provate channels*/
.privateChannels-1nO12o .searchBar-6Kv8R2 {background:var(--primary-color) !important;}
/*Embeds*/
.embed-IeVjo6{background:var(--quaternary-color) !important; border:none !important;}
/*Version in Margin*/
.theme-dark .members-1998pB {margin-bottom:60px !important;}
.membersWrap-2h-GB4::after {
  content:var(--theme-name)" v" var(--theme-version) !important;
    font-family: "Satisfy";
    color:#2e2e30;
    width: 240px;
    height: 60px;
    position: absolute;
    bottom: 0;
    font-size: 2.4em;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}
/*Reaction Text*/
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {color:white !important;}
/*Bottom Area*/
.theme-dark .container-2Thooq, .channelTextArea-rNsIhG {height:60px !important;}
.chat-3bRxxu .channelTextArea-rNsIhG, .theme-dark .container-2Thooq,.membersWrap-2h-GB4::after {
    background:var(--primary-color) !important;
    border-top:1px solid rgb(50, 49, 52) !important;
}
