#bd-pub-li {height: 50px !important;}
#bd-pub-button {
    height: 50px !important;
    background-image: url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/resources/public.png");
    background-size: 40px 40px;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 0px !important;
    filter: invert(100) !important;
}
