/*Animated Tags by Tropical*/

/*Personal Tag =)*/
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="254362351170617345"]:hover::before {
    animation:pulse 1500ms infinite, center 200ms;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,120,133);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* 
========== TAGS ==========
*/
