.da-tooltip {
    border-radius:50% !important;
    text-align:center;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet) !important;
    height:90px;
    animation: hue-rotate 1s linear infinite, mentionpulse 1s infinite, spin 10s infinite linear !important;
    border:5px solid red;
    width:9999px !important;
    color:red;
}
.container-3gCOGc {
    background:radial-gradient(black, black, red, blue, red, green, blue, green, orange, red);
}
button {
    background:url('https://cdn.discordapp.com/emojis/477826738546802694.png?v=1') !important;
    background-size:50% !important;
}
.modal-1UGdnR {
  animation:zoom .1s linear infinite;
}
.title-3qD0b- {
  animation:shake 2s linear infinite;
}
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  color:red;
  animation:zoom 1s linear infinite;
}
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO {
  transform:rotate(60deg);
  transition:2.5s all linear;
}
[class*=".header-"] {
  background:red;
  animation:colorPulse 1s linear infinite;
}
[style*="/avatars/"]:nth-child(odd) {
    background-image: url('https://cdn.discordapp.com/emojis/421680893548167198.png?v=1') !important;
}
[style*="/avatars/"]:nth-child(even) {
    background-image: url('https://cdn.discordapp.com/emojis/477826738546802694.png?v=1') !important;
}
@keyframes flash {
    from {filter:invert(100);}
    to {filter:invert(0);}
}
@keyframes mentionpulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--main-color);
  }
  70% {
    -webkit-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-128px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(256px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-256px, 0, 0);
    height:200px !important;
  }

  40%, 60% {
    transform: translate3d(256px, 0, 0);
    height:20px !important;
  }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate();
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
.da-markup {
	animation: zoom .2s infinite;
}
.container-PNkimc {
    background:#414217 !important;
	animation:hue-rotate 15s linear infinite;
}
@keyframes zoom {
	0% {
		-webkit-transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.2, 1.2);
	}
	100% {
		-webkit-transform: scale(1, 1);
	}
}
[class*="avatar-"], .theme-dark .guild-1EfMGQ .guildIcon-CT-ZDq, .image-33JSyf  {
    animation:spin 2s infinite !important;
    width:70px !important;
    height:70px !important;
}
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
    animation:spin 1s infinite linear;
    background:purple;
}
.theme-dark .members-1998pB {
    background:yellow !important;
    animation:colorPulse 3s linear infinite;
}
#app-mount {
    font-family:"Comic Sans MS";
    font-size:50px;
}
.ui-switch {
    animation:shake 100ms infinite linear;
}
.ace-editor, .ace-monokai, .editor-wrapper, .contentColumnDefault-1VQkGM {
    background:lightgreen !important;
}
.sidebarRegionScroller-3MXcoP, .contentRegionScroller-26nc1e {
    background:purple !important;
}
.containerCozyBounded-1rKFAn {
    background:darkgreen !important;
}
.theme-dark .chat-3bRxxu form {
    background:pink;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover, .side-8zPYf6 .item-PXvHYJ:hover {
    animation:spin 5s;
}
body:before{content:"PREPARE THY ANUS";z-index:1000000000000000000000000;color:#fff;background:red;top:0px;left:50%;position:absolute;border-radius:5px;padding:5px 15px;-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);-webkit-animation:version 3s ease;animation:version 3s ease;-webkit-animation-delay:4s;animation-delay:4s;}
body,span:not(.spinner-item){-webkit-font-smoothing:antialiased;-webkit-backface-visibility:hidden;}
@-webkit-keyframes version{from{-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}
20%{-webkit-transform:translate(-50%, 20%);transform:translate(-50%, 20%)}
80%{-webkit-transform:translate(-50%, 20%);transform:translate(-50%, 20%)}
to{-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}
}
@keyframes version{from{-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}
20%{-webkit-transform:translate(-50%, 20%);transform:translate(-50%, 20%)}
80%{-webkit-transform:translate(-50%, 20%);transform:translate(-50%, 20%)}
to{-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}
}
*::-webkit-scrollbar {
    width:45px !important;
}

@keyframes jump {
	0% {
		transform: translateY(10);
	}
	20% {
		transform: translateY(100);
	}
	40% {
		transform: translateY(600px);
	}
	50% {
		transform: translateY(100);
	}
	60% {
		transform: translateY(15px);
	}
	80% {
		transform: translateY(-69);
	}
	100% {
		transform: translateY(0);
	}
}
.newMessagesBar-mujexs {
    height:100px;
    border-radius:0px;
    animation:colorPulse 1s infinite linear;
}
.header-2o-2hj {animation:spin 1s linear infinite}
.titleBar-AC4pGV {
  height:30px !important;
  animation:shake 10s infinite;
}
.markup-2BOw-j {
  background:black !important;
  border:1px solid white !important;
  color:red !Important;
}
.theme-dark .guildsWrapper-5TJh6A {
    transform:rotate(180deg);
    background:black !important;
}
@-webkit-keyframes colorPulse {
	0% {
		background-color: #1abc9c;
	}
	10% {
		background-color: #2ecc71;
	}
	20% {
		background-color: #3498db;
	}
	30% {
		background-color: #9b59b6;
	}
	40% {
		background-color: #34495e;
	}
	50% {
		background-color: #f1c40f;
	}
	60% {
		background-color: #e67e22;
	}
	70% {
		background-color: #ecf0f1;
	}
	80% {
		background-color: #95a5a6;
	}
	90% {
		background-color: #f39c12;
	}
	100% {
		background-color: #000000;
	}
}
.theme-dark .membersGroup-v9BXpm {
  transform:rotate(-10deg);
}
.member-3W1lQa:hover {
    transform: rotate(100deg);
    transition: 1s all;
}
.member-3W1lQa {
  transform:rotate(10deg);
}
.theme-dark .title-3qD0b- {
  transform:rotate(-1deg);
  background:linear-gradient(45deg, #006400, #999900) !important;
}
.search-bar {
  animation:colorPulse 1s infinite;
}
.privateChannels-1nO12o {
  background:lightblue;
  transform:rotate(1deg);
}
.theme-dark .container-2Thooq {
  transform:rotate(10deg) !important;
}
.popouts-3dRSmE {
  margin-top:200px !important;
}
.userPopout-3XzG_A {
  animation:spin 60s infinite;
  width:500px !important;
  margin-right:200px
}
*{cursor:wait;}
.modal-3HD5ck {
    background:linear-gradient(90deg, yellow,black,red);
}
.modal-3HD5ck .da-footer {
    background:url('https://cdn.discordapp.com/emojis/421680893548167198.png?v=1') !important;
    background-size:70%;
}
