/*//META{"name":"Aurora","description":"A cozy dark theme with blurred elements and gradients. Requires BetterDiscord's Normalized classes function to be enabled.","author":"Tropical","version":"1", "website":"https://bit.ly/derealised", "source":"https://github.com/tropix126/betterDiscordStuff/blob/master/aurora/"}*//**/
/*Import CSS From Github*/
@import url('https://tropix126.github.io/BetterDiscordStuff/aurora/css/base.css');
/*
/$$$$$$
/$$__  $$
| $$  \ $$ /$$   /$$  /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$
| $$$$$$$$| $$  | $$ /$$__  $$ /$$__  $$ /$$__  $$|____  $$
| $$__  $$| $$  | $$| $$  \__/| $$  \ $$| $$  \__/ /$$$$$$$
| $$  | $$| $$  | $$| $$      | $$  | $$| $$      /$$__  $$
| $$  | $$|  $$$$$$/| $$      |  $$$$$$/| $$     |  $$$$$$$
|__/  |__/ \______/ |__/       \______/ |__/      \_______/
*/

:root {
/*Color Variables*/
	--main-color: linear-gradient(150deg, #43cea2, #185a9d); /*Accent Color of the Theme*/
	--hover-color: rgb(67, 206, 162); /*Secondary Accent of the Theme*/
	--main-color-faded: rgba(67, 206, 162, 0.2); /*Faded Main Color*/
/*Backdrop Variables*/
	--backdrop: url(https://i.imgur.com/xcjXx3E.jpg); /*Normal Backdrop*/
	--backdropblurred: url(https://i.imgur.com/ExNrzGV.jpg); /*Darker/Blurred Version of Backdrop*/
	--backdrop-darkness:transparent;
/*Other Variables*/
	--chat-avatar-roundness:5px;
	--media-roundness:50px;
}
